@{
    ViewData["Title"] = "About";
}
<h1>Volatility Coin</h1>
<div class="row">
    <div class="col-lg-6">
        <div class="jumbotron">
            <h5>What is Volatility Coin?</h5>
            This is a token whose aim is to track the volatility of a subset of the cryptocurrency market. 
            There will be multiple instances of the token, each pointing at a different subset. 
            The aim of the smart contract is to offer an index of the change in price over 1 hour, 1 day or even 1 week. 
            This serves the purpose of giving the investors an indication of the current stability of the market and an 
            option to transfer their investments into a more secure token. Thanks to the innovative concept, this can disrupt 
            the economics of cryptocurrencies to render the market more stable.
        </div>
    </div>
    <div class="col-lg-6">
        <div class="jumbotron" style="padding-left:8%">
            <h5>Impact!</h5>
            With VoltCoin our goal is to enable the investors to keep track of the stability of the market. 
            With various types of the token, each looking at a separate subset of the overall market, the 
            indeces will allow an overview of how a specific sector or industry is behaving. This can be 
            translate into more or less security for the investors interested in supporting the initiatives, 
            and can provide an incentive to buy or not.
        </div>
    </div>
    
</div>


<div class="jumbotron">
    <h5>Our Team :)</h5>
    <strong>Developed By:</strong> <br />

    Alvis Wong <br />
    Claudio Lener <br />
    Romir Patney <br />



    <div class="">
        
        <img src="https://scontent.fyto1-1.fna.fbcdn.net/v/t1.0-9/14063914_1103317179734965_4847841844928354098_n.jpg?_nc_cat=0&oh=3e8e137aa25290b9e4a6d5de4e05cdba&oe=5B42FADF" alt="Claudio's Photo'" style="width:10%">

        <a href="https://github.com/clener" target="_blank">
            <img src="https://avatars3.githubusercontent.com/u/21315707?s=460&v=4" alt="Claudio's Photo'" style="width:10%">
        </a>

        <a href="https://github.com/RomirPatney" target="_blank">
            <img src="https://avatars2.githubusercontent.com/u/25364651?s=460&v=4" alt="Romir's Photo'" style="width:10%">
        </a>
    </div>

</div>


