@{
    ViewData["Title"] = "About";
}
<h1>Volatility Coin</h1>
<div class="row">
    <div class="col-lg-6">
        <div class="jumbotron">
            <h5>What is Volatility Coin?</h5>
            It is something which claudio will write.
        </div>
    </div>
    <div class="col-lg-6">
        <div class="jumbotron" style="padding-left:8%">
            <h5>Impact!</h5>
            It is something which clauido knows.
        </div>
    </div>
    
</div>


<div class="jumbotron">
    <h5>Our Team :)</h5>
    <strong>Developed By:</strong> <br />

    Alvis Wong <br />
    Claudio Lener <br />
    Romir Patney <br />



    <div class="">
        
        <img src="https://pbs.twimg.com/profile_images/943933166015803392/jvjasD7v_400x400.jpg" alt="Claudio's Photo'" style="width:10%">

        <a href="https://github.com/clener" target="_blank">
            <img src="https://avatars3.githubusercontent.com/u/21315707?s=460&v=4" alt="Claudio's Photo'" style="width:10%">
        </a>

        <a href="https://github.com/RomirPatney" target="_blank">
            <img src="https://avatars2.githubusercontent.com/u/25364651?s=460&v=4" alt="Romir's Photo'" style="width:10%">
        </a>
    </div>

</div>


